<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Peace & Joke{% endblock %}</title>

    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    {# 'bundles/ocplatform/css/* ou alors:
    {% stylesheets filter='cssrewrite, ?scssphp'
    'bundles/pjplatform/css/main.css'
    'bundles/pjplatform/css/platform.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}#}
</head>

<body>
<div class="container">
    <div id="header" class="jumbotron">
        <h1>Peace & Joke</h1>

        <p>
            Ce projet créé par Rémy FERRAO,
            et inspiré grâce au MOOC OpenClassrooms et SensioLabs.
        </p>
    </div>

    {% block body %}
    {% endblock %}

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>