{%  extends "PJCoreBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            Message flash : {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Menu</h3>
        </div>

        <div id="content" class="col-md-9">
            <h1>Dernières Annonces</h1>

            <hr>

        </div>
    </div>

{% endblock %}